 body {
    background-color:  #03052e;
}
h1{
    color: #f16f2d;
    margin-left: 130px;
    margin-top: 30px;
}
.sidenav {
height: 100%;
width: 100px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #24142e;
overflow-x: hidden;
padding-top: 20px;
}

.sidenav a {
padding: 6px 6px 6px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

.sidenav a:hover {
color: #f1f1f1;
}

.logo{
width: 80px;  
height: 80px;
margin-left: -20px;
margin-bottom: 30px;



}

.nav{
font-size: 40px;
color: #f16f2d;
margin-left: 90px;
margin-top: 20px;
}
.navlat{
font-size: 14px;
color: #f16f2d;
margin-left: -25px;
text-align: center;
}
.navlat:hover{
    zoom: 110%;
    }
.navimg{
width: 40px;
height: 40px;
}
.teste a:hover {
width: 40px;
height: 40px;
background: white;

}
footer {
position: fixed;
bottom:0;
width: 100%;
}

.creathus{
float: right;
margin-bottom: -30px;
} 
 .fieldset{
float: right;
}
input{
color: #f16f2d;
width: 100%;
margin-top: 10px;
}
input::placeholder {
color: #f16f2d;
margin-top: -10px;
}

.container{
    position: absolute;
  
    width: 60%;
    margin-left: 630px;
    margin-top: -200px;
    padding-right: 190px;

}
img.navimg:hover {
    zoom:110%;
    color: #f1f1f1;
    }
 .slide{
  width: 100%;
    }
    .slide:hover{
        cursor: pointer;
          }
 label{
     color: #f16f2d;
     text-align: left;
 } */

form{
    width: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 0 0 10px white;
    padding: 30px 4%;
}

form div.single-input{
    position: relative;
    margin: 30px 0;
    color: aliceblue;
}

form div.single-input label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: white;
    cursor: text;
    transition: all 0.5s ease-in-out;
}

form div.single-input .input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid #03052e;
    outline: 0;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    background: #03052e;
    color: white;
}

form div.single-input .input:focus,
form div.single-input .input:valid{
    border-bottom: 2px solid #f16f2d;
    background: #03052e;
}

form div.single-input .input:focus ~ label,
form div.single-input .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #f16f2d;
    background: #03052e;
}

