Seção Meu Drive simplificada com atalhos … 
Nas próximas semanas, os itens presentes em mais de uma pasta serão substituídos por atalhos. O acesso a pastas e arquivos não mudará.Saiba mais
style.css
Quem pode acessar

Propriedades do sistema
Tipo
Folha de estilo
Tamanho
1 KB
Armazenamento usado
1 KB
Local
Input Type Text
Proprietário
Freddy Danilo
Modificado
22 de mar. de 2021 por Freddy Danilo
Aberto
14:28 por mim
Criado em
22 de mar. de 2021
Sem descrição
Os leitores podem fazer o download
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
h1{
    margin-top: 100px;
    text-align: center;
}

form{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 30px 4%;
}

form div.single-input{
    position: relative;
    margin: 30px 0;
}

form div.single-input label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: rgb(100,100,100);
    cursor: text;
    transition: all 0.5s ease-in-out;
}

form div.single-input .input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid rgb(200,200,200);
    outline: 0;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}

form div.single-input .input:focus,
form div.single-input .input:valid{
    border-bottom: 2px solid cornflowerblue;
}

form div.single-input .input:focus ~ label,
form div.single-input .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: cornflowerblue;
}